
body {
    background-image: url(noteblock-background.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    background-attachment: fixed;
    font-family: 'Itim', cursive;
    z-index: 0

}


button {
    font-size: 20px;
    border-radius: 8px;
}
.input-field {
    border-radius: 8px;
}
textarea {
    border-radius: 8px;;
}

.notes {
    display: flex;
}
.note-input {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top:25px;
    margin-left: 25px;

}
textarea {
    height: 100px;


}
.d-none {
    display: none;
}

.trash{
    font-size: 25px;
    color: white;
}
.trash:hover{
    cursor: pointer;
}

.title {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    text-shadow: 1px 2px chocolate;

}
.title-field {
    display: flex;
    font-size: 35px;
    color: sandybrown;
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: black;
    border: solid;
    border-radius: 8px;
    padding: 10px
}
.note {
    margin-left: 5px;
    font-style: italic;
    font-size: 22px;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: sandybrown;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: solid;
  font-size: 10px;
  position: absolute;
  z-index: 99;
  top: 29px;
  right: 17px;
  opacity: 0.5;
  text-shadow: none;

}
.position2 {
    position: absolute;
    top: 29px !important;
    right: 5px !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}



.note-container {
    display: flex;
    height: 150px;
    width: 300px;
    background-color: #ede0bb;
    flex-direction: column;
    border: solid 5px sandybrown;
    border-radius: 8px;
    color: black;
    overflow: auto;
    margin: 25px;

}
.note-container img {
    height: 20px;
    width: 20px;
    margin-right: 5px;

}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.main-body {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 560px) {
    .title-field {
        display: none;
    }

}

